body {
    margin: 0;
    font-family: var(--sl-font-mono);
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:0px;
}

.command-line {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    min-width:800px;
    width: calc(100hv-20px);
}

.command-line-child {
    flex: 0 100%;
    padding: 3px;
}

#terminal {
    border-radius:5px;
    border-style: solid;
    border-color: black;
    background-color: black;
    height: clac(100vh -220px);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
