:root {
    /* Preventing Scroll "bounce" on browser */
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: var(--sl-font-mono);
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:0px;
}

.command-line {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    min-width:800px;
    width: calc(100hv-20px);
}

.command-line-child {
    flex: 0 100%;
    padding: 3px;
}

.status-line {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    position:fixed;
    bottom:5px;
    width: calc(100% - 40px);
}

.status-line-child {
    flex: 0 100%;
    padding: 3px;
}

#terminal {
    border-radius:5px;
    border-style: solid;
    border-color: black;
    background-color: black;
    height: clac(100vh -220px);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: fixed;
    top: 50px;
    width: calc(100% - 60px);
    height: calc(100% - 120px);
}

.label-on-left {
    --label-width: 13.30rem;
    --gap-width: 1rem;
}

.label-adv {
    --label-width: 9.75rem;
}

.label-on-left + .label-on-left {
    margin-top: var(--sl-spacing-medium);
}

.label-on-left::part(form-control) {
    display: grid;
    grid: auto / var(--label-width) 1fr;
    gap: var(--sl-spacing-3x-small) var(--gap-width);
    align-items: center;
}

.label-on-left::part(form-control-label) {
    text-align: right;
}

.label-on-left::part(form-control-help-text) {
    grid-column-start: 2;
}